{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
All Menus
{% endblock title%}

{% block content %}
<div class="jumbotron jumbotron-fluid">

    <div class="col-md-10">
        <div class="row float-right">
            {% if user.is_authenticated and user.is_staff %}
            <a href="/create_menu" class="btn btn-success" name="save">Create New Menu</a>
            {% endif %}
        </div>
        {% if not user.is_authenticated %}
            <p>You are not logged in <a href="{% url 'login' %}">Log In</a> to view more options.</p>
        {% endif %}

        <h1> All Menus </h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Menu_ID</th>
                <th scope="col">Menu_Name</th>
                <th scope="col">Menu_Date</th>
                {% if user.is_authenticated %}
                    <th scope="col">Choose Options</th>
                {% endif %}

                {% if user.is_staff and user.is_authenticated %}
                    <th scope="col">View Employee Selections</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for menu in menus %}
                    <tr>
                        <th scope="row">{{menu.menu_id}}</th>
                        <td>{{menu.menu_name}}</td>
                        <td>{{menu.menu_date}}</td>
                        {% if user.is_authenticated %}
                            <th scope="row"><a title="You can book meals only until 11 am CLT." href="#"><span id="choose_options_{{ menu.menu_id }}_{{ user.id }}" class="fas fa-sign-in-alt" style="color: green" onclick="validate_booking_window(this.id, {{menu.menu_date}}); choose_options(this.id);"></span></a></th>
                        {% endif %}

                        {% if user.is_staff and user.is_authenticated %}
                            <th scope="row"><a href="#"><span id="view_selections{{ menu.menu_id }}_{{ user.id }}" class="fas fa-eye" style="color: cyan" onclick="view_selections(this.id);"></span></a></th>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<script>

    function extract_id(menu_id_str, splitter) {
        const ids = menu_id_str.split(splitter)[1];
        const menu_id = ids.split('_')[0];
        const employee_id = ids.split('_')[1];
        return [menu_id, employee_id];

    }

    function choose_options(menu_id_str) {
        const ids = extract_id(menu_id_str, 'choose_options_');
        window.location = '/make_selection/'+ids[0]+'/'+ids[1];
    }

    function view_selections(menu_id_str) {
        const ids = extract_id(menu_id_str, 'view_selections');
        window.location = '/view_selections/'+ids[0]+'/'+ids[1];
    }

    function convert_db_date_to_datetime(db_date) {
        const months = {'Jan.': '01', 'Feb.': '02', 'Mar.': '03', 'Apr.': '04', 'May.': '05', 'Jun.': '06', 'Jul.': '07', 'Aug.': '08', 'Sep.': '09', 'Oct.': '10', 'Nov.': '11', 'Dec.': '12'}
        const parts = db_date.split(', ')
        const month_day = parts[0].split(' ')
        const month = months[month_day[0]]
        const day = month_day[1].toString()
        const year = parts[1].toString()
        const time = getTwentyFourHourTime(parts[2])
        const hour = time[0].toString()
        const minutes = time[1].toString()
        const date = year + '-' + month + '-' + day + 'T' + hour + ':' + minutes + ':00'
        return new Date(date);
    }

    function convert_to_timezone(date_time, time_zone) {
        return date_time.toLocaleString("en-US", {timeZone: time_zone})
    }

    function validate_booking_window(button_id, menu_date) {
        const client_time = new Date();
        const year = client_time.getFullYear()
        const date = client_time.getDate()
        const month = client_time.getMonth()
        const date_time = new Date(year.toString() + '-' + month.toString() + '-' + date.toString() + 'T14:00:00Z')
        const threshold_chile_time = convert_to_timezone(date_time, "America/Santiago")
        const client_chile_time = convert_to_timezone(client_time, "America/Santiago")

        console.log('JJhere: ', client_chile_time, threshold_chile_time, threshold_chile_time-client_chile_time);
        if ((client_chile_time > threshold_chile_time)) {
            e.preventDefault();
            return false;
        } else  {
            return true;
        }
    }


</script>
{% endblock content %}