{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <h1>Edit Menu </h1>
{% endblock title%}

{% block content %}
<div class="jumbotron jumbotron-fluid container">
    {% if user.is_authenticated and user.is_staff %}
    <form method="POST">
        <div class="col-md-10 jumbotron">
            <h1> Edit Menu </h1>
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-success" name="save">Edit</button>
        </div>
    </form>
    {% else %}
        <p>Only Food admin can edit a menu.</p>
        <a href="{% url 'todays_menu' %}">View Today's Menu.</a>
    {% endif %}
</div>
{% endblock content%}
