{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
View Selections
{% endblock title%}

{% block content %}
<div class="jumbotron jumbotron-fluid container">
    <div class="col-md-10">
        <h1>View Employee Menu Selections </h1>

        {% if user.is_authenticated and user.is_staff %}
        <div class="row float-right">
            <form method="GET">
                {% csrf_token %}
                <button id="slack_{{ menu.menu_id }}_{{ user.id }}" type="submit" class="btn btn-warning" name="slack" value="slack_{{ menu.menu_id }}_{{ user.id }}">Slack Notify</button>
            </form>
        </div>

            <div class="list-group">
                <h3>Menu ID: {{ menu.menu_id }}</h3>
                <h3>Menu Created At: {{ menu.menu_date }}</h3>
                <div class="col-md-10">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Employee Username</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Menu Selection Id</th>
                            <th scope="col">Menu Selection</th>
                            <th scope="col">Customization Notes</th>
                            <th scope="col">Last Modified At</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for selection in selections %}
                        <tr>
                            <td>{{ selection.employee_username }}</td>
                            <td>{{ selection.employee_name }}</td>
                            <td>{{ selection.employee_selection_id}}</td>
                            <td>{{ selection.employee_selection_description }}</td>
                            <td>{{ selection.employee_customization_notes }}</td>
                            <td>{{ selection.employee_last_modified_at }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="text-white bg-info"> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        </div>

    {% else %}
        <p>Only the food admin can view employee menu selections.</p>
        <a href="{% url 'todays_menu' %}">View Today's Menu.</a>
    {% endif %}
</div>

<script>
    validate_booking_window("slack_{{ menu.menu_id }}_{{ user.id }}", "{{ menu.menu_date }}");
    function convert_to_timezone(date_time, time_zone) {
            return new Date(date_time.toLocaleString("en-US", {timeZone: time_zone}))
        }

        function validate_booking_window(button_id, db_date) {
            const client_time = new Date();
            const client_chile_time = convert_to_timezone(client_time, "America/Santiago")
            const menu_date = convert_db_date_to_datetime(db_date);

            if (menu_date.getFullYear() === client_chile_time.getFullYear() &&
                menu_date.getMonth() === client_chile_time.getMonth() &&
                menu_date.getDate() === client_chile_time.getDate() &&
                client_chile_time.getHours() <= 11){
                $('#'+button_id).prop( "disabled", false );
            } else {
                $('#'+button_id).prop( "disabled", true );
            }
        }

        function convert_db_date_to_datetime(db_date) {
            const months = {'Jan.': '01', 'Feb.': '02', 'Mar.': '03', 'Apr.': '04', 'May.': '05', 'Jun.': '06', 'Jul.': '07', 'Aug.': '08', 'Sep.': '09', 'Oct.': '10', 'Nov.': '11', 'Dec.': '12'}
            let [month, day, year, hour, minute, period]= db_date.split(/[ ,:]+/)
            if (period === 'p.m.'){
                hour = parseInt(hour)+12
                hour = hour.toString()
            } else{
                hour = '0'+hour
            }
            const dateString = year + '-' + months[month] + '-' + day + 'T' + hour + ':' + minute + ':00'
            return new Date(dateString);
        }
</script>
{% endblock content%}
