<!DOCTYPE html>
<html lang="en">
{% extends 'foodadmin/base.html' %}
{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1> Welcome to Cornershop meals management service! </h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset=md-1 p-4 text-center">
            <button class="btn btn-outline-primary">Food Admin (Nora)</button>
            <button class="btn btn-outline-primary">Employee</button>
        </div>
    </div>
</div>
{% endblock content %}

</html>