<!DOCTYPE html>
<html lang="en">
{% extends 'main/base.html' %}
{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1> About Us! </h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-10 col-sm-12 offset=md-1 p-4 text-center">
            <p>Cornershop meals is a meal management service that provides a very convenient way of meal reservation to Cornershop employees. Allowing admin to send slack messages with a click of a button and view all the employee choices. Developed by <a href="mailto:jubinsoni27@gmail.com?subject=cornershopmeals project enquiry">Jubin Soni</a>.</p>
        </div>
    </div>
</div>
{% endblock content %}

</html>