{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login Here
{% endblock title%}

{% block content %}
<div class="jumbotron jumbotron-fluid container">
    <div class="col-md-10">
    <h1> Login </h1>

    <form method="POST" class="form-group">
        {% csrf_token %}

        <div class="col-md-10">
            {{ form|crispy }}
            <p>Don't have an employee account? Create one <a href="/signup">here</a>.</p>
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
    </div>
</div>
{% endblock content %}
