{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Create an Account
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid container">
    <div class="col-md-10">
        <h1> Signup </h1>
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="col-md-10">

            {{ form|crispy }}

            <button type="submit" class="btn btn-success">Register</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}
